---
layout: default
title: Archives
---
<h2 class="pb-5">Archives</h2>

{% for post in site.posts %}
{% assign current_year = post.date | date: "%Y" %}
{% if current_year != year %} 
<h3 class="pb-3 mb-3 border-bottom border-secondary">{{ current_year }}</h3> 
{% endif %}
<ul class="list-unstyled">
	<li>
		<a href="{{ post.url | absolute_url }}" class="text-uppercase">{{ post.title }}</a>
		<p class="text-muted snippet text-secondary small">{{ post.content | strip_html | truncate: 300 }}</p>
	</li>
</ul>
{% assign year = post.date | date: "%Y" %}
{% endfor %}
</ul>
