html {
    scroll-padding-top: 100px;
}

nav,
article,
.file-navigator,
.archive,
footer,
.post-recent,
.container {
    max-width: 640px;
}

h2.banner {
    font-family: "Headland One", serif;
}

.content {
    font-family: "Noto Sans", serif;
}

.content>iframe {
    margin: auto;
}
