<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="shortcut icon" href="{{ favicon.ico | absolute_url }}" />

	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/base.min.css">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/components.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/utilities.min.css">

	<link rel="stylesheet" href="{{ '/assets/css/app.css' | absolute_url }}" />

	<title>always learning - @kennith</title>
</head>

<body>
	<div class="bg-blue-800 text-gray-300 py-8">
		<nav class="mx-auto">

			<h2 class="text-3xl text-red-900">
				<a class="text-gray-300 no-underline" href="{{ '/' | absolute_url }}">always learning</a>
			</h2>
		</nav>
	</div>

	<div>
		{{ content }}
	</div>

	{% if page.title != 'Archives' %}
	<div class="mx-auto prose">
		{% if page.next.url %}
		<a href="{{ page.next.url | absolute_url }}">Next</a>
		{% else %} Next {% endif %} | {% if page.previous.url %}
		<a href="{{ page.previous.url | absolute_url }}">Previous</a>
		{% else if page.url == '/' %}
		<a href="{{ site.posts[1].url | absolute_url }}">Previous</a>
		{% endif %}
	</div>

	<div class="py-8 my-5">

		<div class="mx-auto prose my-5">
			<h4 class="">Other posts</h4>
			<ul class="">
				{% for post in site.posts offset:5 limit:5 %}
				<li><a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
				</li>
				{% endfor %}
			</ul>
			<ul>
				<li>
					<a href="{{ 'archives.html' | absolute_url }}" class="">All others...</a>
				</li>
			</ul>
		</div>
		{% endif %}
	</div>

</body>

</html>
