<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="icon" sizes="192x192" href="//gravatar.com/avatar/261d876ad0b9c8c89367a31bb045584a?s=192">

	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.2.19/dist/base.min.css">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.2.19/dist/components.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.5.0/dist/typography.min.css">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.2.19/dist/utilities.min.css">

	<link rel="stylesheet" href="{{ '/assets/css/app.css' | absolute_url }}" />

	<title>always learning - @kennith</title>
</head>

<body>
	<div class="py-3 mb-5 sticky top-0">
		<nav class="mx-auto">
			<h2 class="text-2xl text-center sm:text-left">
				<a class="text-gray-900 no-underline" href="{{ '/' | absolute_url }}">{{ site.title | downcase }}</a>
			</h2>
		</nav>
	</div>


	<div class="mx-2 sm:mx-auto">
		{{ content }}
	</div>

	{% include footer.html %}

</body>

</html>
